<!DOCTYPE html>
<html>
<head>
  <title>Bienvenido a Eltopi |contact</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<h1>eltopi.tk</h1>
<p>Primera cosa para el topi</p>	
	

<%= yield %>

</body>
</html>

